@import "tailwindcss";

:root {

}

@theme inline {
  --background: #f5ede9;
  --foreground: #303030;

  --color-primary-link: #cc2e00;
  --color-primary-link-hover: #a92200;

  --color-background-neutral-strong: #eaddd5;
  --color-background-neutral-medium: #f5ede9;
  --color-background-neutral-weak: #f9f5f3;
  --color-background-neutral-weakest: #fff;

  --color-header-black: #181516;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* @media (prefers-color-scheme: dark) { */
/*   :root { */
/*     --background: #0f0f0f; */
/*     --foreground: #dadada; */
/*   } */
/* } */
